<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <title>Home</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="https://{fonts.googleapis.com/css?family=Raleway:400,800}">
        <link rel='stylesheet' href="{https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}">
		{% load static %}
		<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
		<link rel="stylesheet" type="text/css" href="/static/css/my_styles.css">
    </head>

    <body>

    <div class="container-fluid">

    	<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
			<a href="/" class="navbar-brand">Quixdoc</a>
		    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar3" aria-controls="navbar3" aria-expanded="false" aria-label="Toggle navigation">
		        <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="navbar-collapse collapse" id="navbar3">
		        <ul class="navbar-nav mr-auto">
		           <div class="dropdown">
		            <li class="nav-item active">
		                <a class="nav-link" href="{% url 'main:loginpage' %}">Log in </a>
		            </li>
					</div>
		            <li class="nav-item">
		                <a class="nav-link" href="{% url 'main:registerpage' %}"> Register</a>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link" href="{% url 'main:about' %}">About quixdoc</a>
		            </li>
		             <li class="nav-item">
		                <a class="nav-link" href="{% url 'main:howitworks' %}">How it works</a>
		            </li>
		        	
		        </ul>
		    </div>
		</nav>

		<!-- Add here -->

		<div class="jumbotron body_display">
			<img src="/static/img/quixdoc.jpg" class="img-fluid" alt="Scanner">
		    <h1 class="display-4 home-h1">Simpler. Easier. Quicker.</h1>
		    <p class="lead mt-3">
		    	The easiest way to keep record of your company safety record according to DOT Rules and Regulation, get all documents, BOLs, receipts, from any user, any time from any part of the country. 
		    </p>

		    <p class="lead">
		        <a class="btn btn-primary btn-lg" href="{% url 'main:learnmore' %}" role="button">Learn more</a>
		    </p>
		</div>

		

	<div class="row">
	    <div class="col-sm-12 col-md-4">
	        <div class="card mb-4 bg-light shadow-lg p-3 mb-5 rounded">
	            <div class="card-body text-center">
	                <h5 class="card-title">Coding Dojo</h5>
	                <p class="card-text">Coding dojo Chicago teaching students the most up-to-date programming technologies through effective methods.</p>
	                <a href="https://www.codingdojo.com/" class="card-link">Go to Chicago Coding Dojo</a>
	            </div>
	        </div>
	    </div>
	    <div class="col-sm-12 col-md-4">
	        <div class="card mb-4 bg-light shadow-lg p-3 mb-5 rounded">
	            <div class="card-body text-center">
	                <h5 class="card-title">USDOT Rules</h5>
	                <p class="card-text">Regulations issued by FMCSA are published in the Federal Register and compiled in the U.S. Code of Federal Regulations (CFR).</p>
	                <a href="https://www.fmcsa.dot.gov/regulations" class="card-link">DOT Regulations</a>
	            </div>
	        </div>
	    </div>
	    <div class="col-sm-12 col-md-4 ">
	        <div class="card mb-4 bg-light shadow-lg p-3 mb-5 rounded">
	            <div class="card-body text-center">
	                <h5 class="card-title">Trucking News</h5>
	                <p class="card-text">Stay up to date on all things trucking related, latest news, job offers, new content every day</p>
	                <a href="https://cdllife.com/top-trucking-news/" class="card-link">CDL life</a>
	            </div>
	        </div>
	    </div>
    </div>


	    <div class="row mt-sm-4 mt-md-0">
		    <div class="col-sm-12 col-md-8 text-sm-center text-md-left">
		        <h3>An important heading</h3>
		        <p class="lead">A sort of important subheading can go here, which is larger and gray.</p>

		        <p>
		        	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
		        </p>
		        <p>
		        	Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
		        </p>
		    </div>

		    <div class="col-sm-12 col-md-4">
	        <h3 class="mb-4">Admin section</h3>

	        <ul class="nav flex-column nav-pills">
	            <li class="nav-item">
	                <a class="nav-link active" href="#">Active</a>
	            </li>
	            <li class="nav-item">
	                <a class="nav-link" href="#">Link</a>
	            </li>
	            <li class="nav-item">
	                <a class="nav-link" href="#">Link</a>
	            </li>
	        </ul>
	    	</div>
		</div>
   	</div>
  



        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    </body>
</html>