
<!DOCTYPE html>
<html>
<head>

	<title>More</title>
	 <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://{fonts.googleapis.com/css?family=Raleway:400,800}">
    <link rel='stylesheet' href="{https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<div class="container-fluid">
		<div class="jumbotron body_display">
			<img src="/img/quixdoc.jpg" class="img-fluid" alt="Scanner">
		    <h1 class="display-4">Simpler. Easier. Quicker.</h1>
		    <p class="lead">
		    	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
		    </p>

		    <p class="lead">
		        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
		    </p>
		</div>
	</div>
	<script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>


