<!DOCTYPE html>
<html>

<head>
	<title>Logs</title>
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" href="https://{fonts.googleapis.com/css?family=Raleway:400,800}">
	<link rel='stylesheet' href="{https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}">
	<link rel="stylesheet" href="/static/css/bootstrap.css">
	<link rel="stylesheet" href="/static/css/styles.css">
	<link rel="stylesheet" href="/static/css/my_styles.css">
</head>

<body>
	<div class="container-fluid">

		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
			<a href="{% url 'main:home' %}" class="navbar-brand">Quixdoc</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar3">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="navbar-collapse collapse" id="navbar3">
				<ul class="navbar-nav">
					<div class="dropdown">
						<li class="nav-item">
							<a class="nav-link" href="{% url 'main:loginpage' %}">Log in </a>
						</li>
					</div>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'main:registerpage' %}"> Register</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'main:logout' %}">Log out</a>
					</li>

				</ul>
			</div>
		</nav>


		<div class="login_form col-sm-200 col-md-500 bg-light card-body  card shadow-lg p-3 mb-5 rounded mt-5 p-4">

			<form action="{% url 'main:registernewuser' %}" method="POST">

				<button type="submit" class="btn btn-primary">Register</button>
			</form>

		</div>
	</div>
</body>

</html>