<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
	<title>Home</title>
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />


	<link rel="stylesheet" href="https://{fonts.googleapis.com/css?family=Raleway:400,800}">
	<link rel='stylesheet' href="{https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}"> {% load static %}
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/static/css/styles.css">
	<link rel="stylesheet" type="text/css" href="/static/js/my_script.js">
	<link rel="stylesheet" type="text/css" href="/static/css/my_styles.css">
</head>

<body>

	<div class="container-fluid">

		<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
			<a href="{% url 'main:home' %}" class="navbar-brand">Quixdoc</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar3" aria-controls="navbar3" aria-expanded="false"
			    aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="navbar-collapse collapse" id="navbar3">
				<ul class="navbar-nav mr-auto">
					<div class="dropdown">
						<li class="nav-item active">
							<a class="nav-link" href="{% url 'main:loginpage' %}">Log in </a>
						</li>
					</div>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'main:registerpage' %}"> Register</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'main:logout' %}">Log Out</a>
					</li>

				</ul>
			</div>
		</nav>
		<div class="col-sm-200 col-md-500 card-body card bg-light shadow-lg p-3 mb-5 rounded images_upload mt-5">
			{% if messages %}
				{% for msg in messages %}
					<h2>{{ msg }}</h2>
				{% endfor %}
			{% endif %}

			<form action="{% url 'main:upload_pic' %}" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<label for="loadNumber">Load Number</label><br>
				<input type="text" name="loadNumber" class="mb-2">
				<br>
				<input type="file" name="myImage1" class="mb-2">
				<br>
				<input type="file" name="myImage2" class="mb-2">
				<br>
				<input type="file" name="myImage3" class="mb-2">
				<br>
				<input type="file" name="myImage4" class="mb-2">
				<br>
				<input type="file" name="myImage5" class="mb-2">
				<br>
				<input type="file" name="myImage6" class="mb-2 ">
				<br>
				<button type="submit" class="mb-2 btn btn-primary btn-lg">Upload</button>
			</form>
		</div>
	</div>
</body>

</html>