
@media only screen and (max-width: 600px) {

	.login_form{
		margin-top: 20px;
		width: 100%; 
		margin: auto;
	}

	.home-h1{
		text-align: center;
		font-size: 19pt;
		font-weight: bold;
	}

	.body_display img{
		max-width: 99%;
}
}
@media only screen and (min-width: 601px){

	.login_form{
		margin-top: 20px;
		width: 80%;
		vertical-align: top;
		margin: auto;
	}
	.body_display img{
		max-width: 90%;
		margin: auto;
	}
	.home-h1{
		text-align: center;
	}
}

@media only screen and (min-width: 900px){

	.login_form{
		margin-top: 20px;
		width: 60%;
		margin: auto;
	}
	.body_display img{
		max-width: 48%;
		display: inline-block;
		vertical-align: top;
	}
	.home-h1{
		display: inline-block;
		max-width: 48%;
		text-align: center;
		font-size: 55pt;
		font-weight: bold;
	}
	}
.inline-button{
	display: inline-block;
}
.image-block{
	width: 100%; 
	margin: auto;
}

